.full-stars {

}

.full-stars .rating-group {
    display: inline-flex;
}

.full-stars input {
    position: absolute;
    left: -9999px;
}

.full-stars label {
    margin: 0;
    cursor: pointer;
}

.full-stars label svg {
    margin: 2px;
    height: 23px;
    width: 23px;
    fill: rgba(249, 173, 61, 1);
    transition: fill 0.3s;
}

.full-stars input:checked~label svg {
    fill: rgba(249, 174, 61, 0.307);

}

.full-stars .rating-group:hover label svg {
    fill: rgba(249, 173, 61, 1);
}

.full-stars .rating-group input:hover~label svg {
    fill:  rgba(249, 174, 61, 0.307);;
}