@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: 'Helvetica Bold';
  src: url('../fonts/HelveticaNeueCyr-Bold.woff2');
}
@font-face {
  font-family: 'Helvetica Light';
  src: url('../fonts/HelveticaNeueCyr-Light.woff2');
}
@font-face {
  font-family: 'Helvetica Normal';
  src: url('../fonts/HelveticaNeueCyr-Roman.woff2');
}
.customHover rect{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: all .3s;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background: rgba(33, 83, 45);
}
::-webkit-scrollbar-thumb{
  background:rgba(52, 199, 89, 1);
  border-radius: 5px;
}
.customHover:hover rect{

  fill:rgba(52, 199, 89, 1);
}
.large{
  width: 160px;
  height: 65px;
}
.small{
  width: 65px;height: 65px;
}